<div class="p-4">
    <!-- header -->
    <div class="bg-white shadow-md border-t-2 border-zinc-500 rounded-md mb-6">
      <!-- encabezado -->
      <div class="border-gray-400 border-b ">
          <h3 class=" flex items-center text-xl  p-4">
              <i class="pi pi-eye mr-3"></i>
              Listado de Ejercicios
          </h3>
      </div>
  </div>

    <!-- Tabla de ejercicios -->
    <p-table [value]="ejercicios" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
            <tr >
                <th pSortableColumn="nombre">ID</th>
                <th pSortableColumn="correoPersonal">Descripcion</th>
                <th pSortableColumn="telefono">Musculo Objetivo</th>
                <th pSortableColumn="descripcion">Parte del cuerpo</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.nombre }} {{ user.apellido }} </td>
                <td>{{ user.correoPersonal }}</td>
                <td>{{ user.telefono }}</td>
                <td> {{user.estado.descripcion | titlecase}} </td>
                <td>
                    <a [routerLink]="['/inscription/backlog/docs-review/',user.id]" class="flex items-center justify-center gap-2 p-2 rounded-md text-white bg-green-500 transition-colors hover:bg-green-700">
                        <i class="pi pi-pencil"></i>
                        Revisar
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

