<div class="p-2">
  <div >
      <!-- Contenedor para el buscardo y box de filtro -->
      <div class="mb-6 justify-between gap-4 md:flex ">
          <!-- Contenedor para el buscador  -->
          <div class="p-inputgroup mb-4 md:order-2 md:w-1/2">
              <input type="text" pInputText placeholder="Buscar cliente"  />
              <button type="button" pButton icon="pi pi-search" styleClass="p-button-success"></button>
          </div>
          <!-- Contenedor para el dropdown box -->
          <div class="p-fluid md:order-1 md:w-1/2">
              <p-dropdown optionLabel="name"  placeholder="Filtar por plan..."></p-dropdown>
          </div>
      </div>
      <!-- Contenedor para la tabla  -->
      <div>

          <p-table [value]="customers" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                  <tr >
                      <th pSortableColumn="nombre">Nombre</th>
                      <th pSortableColumn="plan">Plan</th>
                      <th pSortableColumn="fechaInit">Fecha de inicio</th>
                      <th>Ver Informacion</th>
                      <th>Rutinas</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-user>
                  <tr>
                      <td>{{ user.nombre }} {{ user.apellido }} </td>
                      <td>{{ user.plan }}</td>
                      <td>{{ user.fechaInit }}</td>
                      <td>
                        <a [routerLink]="" class="flex items-center justify-center gap-2 p-2 rounded-md text-black bg-green-500 transition-colors hover:bg-green-700">
                        <i class="pi pi-pencil"></i>
                        Ver info
                       </a>
                     </td>
                      <td>
                          <a [routerLink]="" class="flex items-center justify-center gap-2 p-2 rounded-md text-black bg-green-500 transition-colors hover:bg-green-700">
                              <i class="pi pi-pencil"></i>
                              Asignar rutina
                          </a>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>

  </div>
